<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%t %d{HH:mm:ss.SSS} %p %logger{15}: %m%n</pattern>
        </encoder>
    </appender>
 
    <appender name="FILE"
		class="ch.qos.logback.core.FileAppender">
		<encoder>
         <pattern>%t %d{HH:mm:ss.SSS} %p %logger{15}: %m%n</pattern>
        </encoder>
		<File>/Users/jacopo/Desktop/output.log</File>
	</appender>

    <root level="warn">
    	<appender-ref ref="FILE" />
    </root>
    
    <logger name="nl.vu.cs.querypie">
		<level value="debug" />
	</logger>

</configuration>